# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Temporary files
*.tmp
*.bak

# Output files (IMPORTANT for your tool)
encrypted.txt
decrypted.txt

# Misc
*.swp
